/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require filtergrid
 */


#danger{
    background-color: #FF3333;
}

.danger{
    background-color: #FF3333;
    color: black;
    border-radius: 3px;

}

.log_in{
    border: 1px solid #000000;
    width: 35%;
}

div.report{
    border: 1px solid black;
    padding: 5px;


}

.error_explanation{
    color: red;
    font-size: 12px;
    font-family: arial, sans-serif;
}
.scroll{
    overflow: scroll;
}

.required{
    border: 1px solid red;
}

.homeBox{
    text-align: center;
    font-size: 25px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    background-color: #3cb790;


}

.adminBox{
    text-align: center;
    position: fixed;
    bottom: 10px;
    vertical-align: bottom;
}

.top_right{
    position: fixed;
    top: 5%;
    right: 5%;
}

.navBox{
    text-align: center;
    font-size: 18px;
}


a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

a:active {
    text-decoration: underline;
}

h1.home{
    font-size: 60px;
    font-family: Tahoma, sans-serif;
}

h2.home{

}

h1, h2{
    text-align: center;
    color: #00aaaa;

}

h3{
    text-align: center;
    color: #00aaaa;
    font-size: medium;
}


table{
    border:  1px solid #00aaaa;
}

.evenRow{
    background-color: lightblue;
    padding: 10px;
}

.oddRow{
    padding: 10px;
}

table thead tr td{
    border: 1px solid #000000;
    padding: 15px;
    font-weight: bold;
    color: #00aaaa;;
}

table tbody tr td{
    padding: 5px;
}


table.btable {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;

}
td.btable {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
}
td.black { background-color: #000; }
td.white { background-color: #fff; }

form{
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #000000;
    padding: 20px;
}

form.button_to {
   border: none;
}


table#order_form{
    border: 1px solid #000000;
}

thead#form_header tr td{
    color: #000000;
}
tbody#form_body tr td{
    border: 1px solid #000000;
    font-size: 12px;
}
div#empty{
    padding: 15px;
}


div#company{
    padding: 15px;
    font-size: 12px;
}

div#address{
    padding: 15px;
    font-size: 12px;
}


div#to{
    font-size: 12px;
    padding: 15px;

}

div#supplier{
    font-size: 12px;
    padding: 15px;

}

div#date{
    font-size: 12px;
    padding: 5px;

}

div#order_number{
    font-size: 12px;
    padding: 5px;

}

div#delivery_address{
    font-size: 12px;
    padding: 15px;

}
