<p>Select report Type from list below: </p>
<p>
<ul>
  <li><%= link_to 'All reagents for study', :controller => 'reports' , :action => 'index', :goto => 'manifest'  %></li>
  <li>Type 2</li>
  <li>Type 3</li>
  <li>Custom</li>
</ul>
</p>